.card {
/* Add shadows for effect */
    box-shadow: 0 4px 8px 0 skyblue;
    transition: 0.3s;
    width: 40%;
    float: right;
    border-radius: 5px;
}
.card img{
        border-radius: 5px 5px 0 0;
}
/* Glow on hover */
.card:hover {
    box-shadow: 0 8px 16px 0 white;
}
      
/* card padding */
#cont-Card{
    padding: 2px 16px;
}
    